<!DOCTYPE html>
<!--{namespace neos=TYPO3\Neos\ViewHelpers}{namespace ts=TYPO3\TypoScript\ViewHelpers}{namespace rl=RobertLemke\RobertLemkeCom\ViewHelpers}-->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<f:section name="meta">
			<title>{title} » Robert Lemke » Coaching, Coding, Consultancy for TYPO3 Flow and TYPO3 Neos</title>
		</f:section>
		<f:section name="stylesheets">
			<meta name="viewport" content="width=device-width"/>
			<meta generator="TYPO3 Neos"/>
			<link rel="stylesheet" href="../../../Public/Stylesheets/app.css">
			<link rel="stylesheet" href="../../../Public/Stylesheets/Fonts.css">
			<link rel="stylesheet" href="../../../Public/Stylesheets/Main.css">
			<link rel="stylesheet" href="{f:uri.resource(path: 'resource://RobertLemke.Plugin.Blog/Public/Stylesheets/Blog.css')}">
		</f:section>
		<f:section name="javascripts">
			<script src="../../../Public/Javascripts/foundation/modernizr.foundation.js"></script>
			<!-- IE Fix for HTML5 Tags -->
			<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<!-- yes, all not minified – will follow soon … -->
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.foundation.alerts.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.foundation.buttons.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.foundation.forms.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.foundation.navigation.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/jquery.placeholder.js"></script>
			<script src="_Resources/Static/Packages/RobertLemke.RobertLemkeCom/Javascripts/foundation/app.js"></script>
			<script>$('body').scrollTop(0);</script>
			<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-35541148-1']);
			  _gaq.push (['_gat._anonymizeIp']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

			</script>		</f:section>
	</head>
	<body>
		<f:section name="body">
			<div class="row hide-for-small" id="whitespace-top"></div>
			<div class="row">
				<header class="three columns main-navigation t3-reloadable-content" id="navigation-main">
					<nav class="show-for-small" id="navigation-main-small">
						<ts:renderTypoScript path="parts/firstLevelMenu"></ts:renderTypoScript>
						<rl:languageSwitch format="short"/>
					</nav>
					<nav class="hide-for-small" id="navigation-main-full">
						<ts:renderTypoScript path="parts/firstLevelMenu"></ts:renderTypoScript>
						<rl:languageSwitch format="full"/>
					</nav>
				</header>
				<section class="seven columns t3-reloadable-content" id="mainsection">
					<ts:renderTypoScript path="sections/main">
						<h4>FLOW3 at Campus Party Europe</h4>
						<p>This week I'll be joining the 10.000 people for an amazing technology
							festival at the former Tempelhof Airport: Campus Party Europe. I have
							been invited to give a talk about PHP and FLOW3 and I'm pretty
							excited to speak at such an unusual event.</p>

						<p>If you're living in Berlin, you probably already stumbled over the
							bill and facades promotion of the event - and if not, it's worth
							spending a minute watching this short video:</p>

						<p>Karsten Dambekalns and Ben van't Ende will join me in Berlin and you
							can bet that I'll catch the atmosphere of the event with my camera
							and post some videos in the course of this week.</p>
					</ts:renderTypoScript>
				</section>
				<div class="one column hide-for-small"></div>
			</div>

			<script>$('body').scrollTop(0);</script>
		</f:section>
	</body>
</html>
