@import "settings";
@import "foundation";

$red: #E5352C;

body {
	border-top: 2px solid $red;
	padding-bottom: 60px;
}

#whitespace-top {
	padding-bottom: 60px;
}

.invisible-link, .invisible-link:hover, h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover {
	color: $txtColor;
}

p {
	line-height: 24px;
}

h1, h1 div {
	@include font-size(28);
	font-weight: normal;
	margin-top: 0;
}

h2, h2 div {
	@include font-size(28);
	font-weight: normal;
	margin-top: 0;
}

h3, h3 div {
	@include font-size(24);
	font-weight: normal;
	margin-top: 0;
}

blockquote {
	padding-top: 0;
}

#navigation-main {
	font-family: "house", sans-serif;

	nav a {
		color: $txtColor;
	}

	nav a:hover, nav a.active, nav a.current {
		color: $red;
	}

	h1 {
		font-weight: normal;
	}
	.underscore {
		color: $red;
	}

}

#navigation-main-full {
	a.normal, a.current {
		display:	block;
		@include font-size(28);

		h1 {
			margin-bottom: 0;
		}
	}

	.languageswitch {
		@include font-size(18);
		margin-top: 16px;
	}
}

#navigation-main-small {
	padding: 20px 0 30px 0;

	a.normal, a.current {
		display:	inline;
		@include font-size(18);
		margin: 0 5px 0 0;

		h1 {
			display:	inline;
			@include font-size(24);
			margin: 0;
		}
	}

	.languageswitch {
		display: inline;
		@include font-size(18);
		margin-top: 16px;
	}
}

.robertlemke-plugin-blog {

	.read-more {
		color: $red;
	}

	.typo3-widget-paginator {
		li a {
			color: $txtColor;
		}
		li.current, li a:hover{
			color: $red;
		}
	}

	li.comment p.metadata {
		font-family: "House",Helvetica,Arial,sans-serif;
		font-size: 15px;
	}
}

.typo3-image {
	&.typo3-image-position-left {
		float: left;
	}
	&.typo3-image-position-right {
		float: right;
	}
}

.flashmessages {

	li {
		list-style: none;
		color: $red;
		padding:  4px 10px;
		background-color: #eee;
	}

}

div.typo3-image img {
 margin-bottom: 10px;
}

div.byline {
	font-family: "House",Helvetica,Arial,sans-serif;
	font-size: 15px;
}