{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace rl=RobertLemke\RobertLemkeCom\ViewHelpers}
<f:render section="itemList" arguments="{items: items}" />

<f:section name="itemList">
	<f:for each="{items}" as="item" iteration="iterator">
		<f:if condition="{iterator.isFirst}">
			<f:then>
				<neos:link.node node="{item.node}" class="logotype"><h1>robert&nbsp;lemke<span class="underscore">_</span></h1></neos:link.node><br class="show-for-small"/>
			</f:then>
			<f:else>
				<neos:link.node node="{item.node}" class="{item.state}"><rl:format.case case="lower">{item.label}</rl:format.case></neos:link.node>
			</f:else>
		</f:if>
	</f:for>
</f:section>
